Theorie/XMLSchemas/src/schema/personconf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="personType">
        <xs:sequence maxOccurs="1">
            <xs:element name="first-name" type="nameType"/>
            <xs:element name="middle-name" type="nameType"/>
            <xs:element name="last-name" type="nameType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="person" type="personType"/>

</xs:schema>